<div class="row">
	<div class="large-4	columns">
		<img src="http://lorempixel.com/300/400/cats/7">
	</div>

	<div class="large-8 columns">
		<h5>Lorem ipsum dolor</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, repellendus, impedit distinctio perferendis eum velit obcaecati ad nihil quis ab tempora in cupiditate commodi voluptate pariatur adipisci inventore magnam natus.</p>
			<p><a href="" class="button radius">More Info &raquo;</a></p>
	</div>
</div>
<div class="row">
	<div class="large-4	columns">
		<img src="http://lorempixel.com/300/400/cats/6">
	</div>

	<div class="large-8 columns">
		<h5>Lorem ipsum dolor</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, repellendus, impedit distinctio perferendis eum velit obcaecati ad nihil quis ab tempora in cupiditate commodi voluptate pariatur adipisci inventore magnam natus.</p>
			<p><a href="" class="button radius">More Info &raquo;</a></p>
	</div>
</div>
<div class="row">
	<div class="large-4	columns">
		<img src="http://lorempixel.com/300/400/cats/5">
	</div>

	<div class="large-8 columns">
		<h5>Lorem ipsum dolor</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, repellendus, impedit distinctio perferendis eum velit obcaecati ad nihil quis ab tempora in cupiditate commodi voluptate pariatur adipisci inventore magnam natus.</p>
			<p><a href="" class="button radius">More Info &raquo;</a></p>
	</div>
</div>
<div class="row">
	<div class="large-4	columns">
		<img src="http://lorempixel.com/300/400/cats/4">
	</div>

	<div class="large-8 columns">
		<h5>Lorem ipsum dolor</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, repellendus, impedit distinctio perferendis eum velit obcaecati ad nihil quis ab tempora in cupiditate commodi voluptate pariatur adipisci inventore magnam natus.</p>
			<p><a href="" class="button radius">More Info &raquo;</a></p>
	</div>
</div><div class="row">
	<div class="large-4	columns">
		<img src="http://lorempixel.com/300/400/cats/3">
	</div>

	<div class="large-8 columns">
		<h5>Lorem ipsum dolor</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, repellendus, impedit distinctio perferendis eum velit obcaecati ad nihil quis ab tempora in cupiditate commodi voluptate pariatur adipisci inventore magnam natus.</p>
			<p><a href="" class="button radius">More Info &raquo;</a></p>
	</div>
</div><div class="row">
	<div class="large-4	columns">
		<img src="http://lorempixel.com/300/400/cats/2">
	</div>

	<div class="large-8 columns">
		<h5>Lorem ipsum dolor</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, repellendus, impedit distinctio perferendis eum velit obcaecati ad nihil quis ab tempora in cupiditate commodi voluptate pariatur adipisci inventore magnam natus.</p>
			<p><a href="" class="button radius">More Info &raquo;</a></p>
	</div>
</div><div class="row">
	<div class="large-4	columns">
		<img src="http://lorempixel.com/300/400/cats/1">
	</div>

	<div class="large-8 columns">
		<h5>Lorem ipsum dolor</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, repellendus, impedit distinctio perferendis eum velit obcaecati ad nihil quis ab tempora in cupiditate commodi voluptate pariatur adipisci inventore magnam natus.</p>
			<p><a href="" class="button radius">More Info &raquo;</a></p>
	</div>
</div>
